@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

html, body, app-root, .wrapper {
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-areas: "drawer graph"
                        "table table";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 3fr 1fr;
}

.header {
  grid-area: drawer;
}

gojs-diagram {
  /*background: whitesmoke;*/
  grid-area: graph;
}

.example-container {
  max-width: 100%;
  overflow: auto;
}

.table-wrapper {
  grid-area: table;
  overflow: auto;
  width: 100%;

}

tr[mat-header-row].mat-header-row {
  height: 28px;
}

.table-wrapper th.mat-header-cell {
  font-size: 14px;
  color: black;
  padding: 15px;
  text-align: center;


}

.mat-header-row.bottom-shadow th {
  box-shadow: 4px 0px 5px 0 rgba(0, 0, 0, 12);
}

.table-wrapper td.mat-footer-cell {
}


.mat-sort-header-content {
  text-align: left;
}

table.mat-table {
  display: table;
}

td , th {
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
  text-align: center;
}


.highlight{
  background: lightgreen;
}

.mat-row td.mat-cell {
  border-right: 1px solid rgba(0,0,0,.12);
  vertical-align: middle;
  padding: 0 10px;
}

.table-wrapper tr.mat-cell {
  padding: 0 5px;
  white-space: nowrap;

}

.myDiagramDiv {
  background: whitesmoke;
  height: 100%;
  border: 1px solid black;
  /*grid-area: graph;*/
}

.table {
  grid-area: table;
}

.left {
  float: left;
  padding: 5px;
  margin: 5px;
}

.center {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 25%;
  left: 25%;
  margin-top: -100px;
  margin-left: -100px;
}

.box {
  border: solid 1px black;
  background: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.example-button-row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}
