<h1 align="center">CQ States</h1>


<div align="center">
  <div class="example-button-row">
    <button mat-raised-button color="primary">Create/modify the model</button>
      <button mat-raised-button color="primary">Plot A</button>
      <button mat-raised-button color="primary">Plot B</button>
  </div>


  <br>
  <br>
  <br>
  <br>
  <br>

  <button mat-button [matMenuTriggerFor]="menu">Arrange By...</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="horizontally">Horizontally</button>
  <button mat-menu-item [matMenuTriggerFor]="vertically">Vertically</button>
</mat-menu>

<mat-menu #horizontally="matMenu">
  <button mat-menu-item>Time</button>
  <button mat-menu-item>Quantities list</button>
</mat-menu>

<mat-menu #vertically="matMenu">
  <button mat-menu-item>Quantities list</button>
</mat-menu>


  <br>
  <br>
  <br>
  <br>
  <br>

  Diagram
  <gojs-diagram #myDiagram [initDiagram]='initDiagram' [nodeDataArray]='diagramNodeData' [linkDataArray]='diagramLinkData'
    [divClassName]='diagramDivClassName' [modelData]='diagramModelData' [skipsDiagramUpdate]='skipsDiagramUpdate'
    (modelChange)='diagramModelChange($event)'>
  </gojs-diagram>
</div>
