(constraints
	((ADD SS AB AS)   	(SS* AB* AS*)  	(0 0 0))
	((ADD SS BB BS)   	(SS* BB* BS*)  	(0 0 0))
	((M+ PLA AS)      	(PLA* AS*)     	(0 0) (inf inf))
	((MULT MSFP SC BV)	(MSFP* SC* BV*))
	((ADD BV PLA PL)  	(BV* PLA* PL*) 	(0 0 0))
	((M+ HRA BS)      	(HRA* BS*)     	(0 0) (inf inf))
	((ADD HRA HRX HR) 	(HRA* HRX* HR*)	(0 0 0))
	((M+ PVRA AS)     	(PVRA* AS*)    	(0 0) (inf inf))
	((ADD PVRA PVRX PVR)  (PVRA* PVRX* PVR*) (0 0 0))
	((M+ EDV PL)      	(EDV* PL*)     	(0 0) (inf inf))
	((M+ INA EDV)     	(INA* EDV*)    	(0 0) (inf inf))
	((M+ INC BS)      	(INC* BS*)     	(0 0) (inf inf))
	((ADD INC INX INB)	(INC* INX* INB*)   (0 0 0))
	((ADD INA INB IN) 	(INA* INB* IN*)	(0 0 0))
	((M+ EF IN)       	(EF* IN*)      	(0 0) (inf inf))
	((MULT EDV EF SV) 	(EDV* EF* SV*))
	((MULT HR SV CO)  	(HR* SV* CO*))
	((MULT CO PVR MDP)	(CO* PVR* MDP*))
	((ADD MDP MSFP MSP)   (MDP* MSFP* MSP*)  (0 0 0))
	((M- MDP DSS)     	(MDP* 0)       	(0 inf)  (inf minf))
	((D//DT SS DSS)) )