<div class="wrapper">
  <div class="header">
    <h1 align="center">CQ States</h1>

    <div class="example-button-row">
      <button mat-raised-button color="primary">Create/modify the model</button>
      <button mat-raised-button color="primary" (click)="postPlot('A')">Plot A</button>
      <button mat-raised-button color="primary" (click)="postPlot('B')">Plot B</button>
    </div>

    <div class="example-button-row">

      <button mat-button [matMenuTriggerFor]="menu">Arrange By...</button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="horizontally">Horizontally</button>
        <button mat-menu-item [matMenuTriggerFor]="vertically">Vertically</button>
      </mat-menu>

      <mat-menu #horizontally="matMenu">
        <button mat-menu-item (click)="postArrange('horizontal_time')">Time</button>
        <button mat-menu-item [matMenuTriggerFor]="horizontalQuantitiesMenu">Quantities list</button>
      </mat-menu>

      <mat-menu #horizontalQuantitiesMenu="matMenu">
        <button mat-menu-item *ngFor="let quantity of quantities" (click)="postArrange('horizontal_' + quantity.name)">{{quantity.name}}</button>
      </mat-menu>

      <mat-menu #verticalQuantitiesMenu="matMenu">
        <button mat-menu-item *ngFor="let quantity of quantities" (click)="postArrange('vertical_' + quantity.name)">{{quantity.name}}</button>
      </mat-menu>

      <mat-menu #vertically="matMenu">
        <button mat-menu-item (click)="postArrange('vertical_time')">Time</button>
        <button mat-menu-item [matMenuTriggerFor]="verticalQuantitiesMenu">Quantities list</button>
      </mat-menu>
    </div>

    <h3 align="center">Arrange By: {{arrangedBy}}</h3>
    <h3 align="center" *ngIf="horizontal === true || horizontal === false">Layout: {{horizontal ? 'horizontal' : 'vertical'}}</h3>
  </div>

  <gojs-diagram *ngIf="diagramNodeData.length > 0 && diagramLinkData.length > 0"
                [initDiagram]=initDiagram.bind(this)
                [nodeDataArray]='diagramNodeData'
                [linkDataArray]='diagramLinkData'
                divClassName='myDiagramDiv'
                [modelData]='diagramModelData'
  >
  </gojs-diagram>

  <table class="table">
    <tr>
      <th>Index</th>
      <th *ngFor="let quantity of quantities">{{quantity.name}}</th>
    </tr>
    <tr *ngFor="let data of tableData">
      <td>{{data.index}}</td>
      <td *ngFor="let quantity of quantities">{{data[quantity.name]}}</td>
    </tr>
  </table>
</div>
